<div>
  <p><%= @user.name %></p>
  <p>粉丝数： <%= @user.followers_count %></p>
  <p>关注：<%= @user.friends_count %></p>

  <div>
    <%= image_tag @user.profile_image_url %>
  </div>

  <% if @user.verified.eql? "true" %>
      <p>大V</p>
  <% else %>
      <p>普通用户</p>
  <% end %>

  <% @comments_by_me.each do |comment|  %>
      <p><% comment.text %></p>
  <% end %>


  <% if @user.gender.eql? "m" %>
      <p>男</p>
  <% else %>
      <p>女</p>
  <% end %>
  <p>互粉数：<%= @user.bi_followers_count %></p>
</div>